{% extends 'base.html' %}
{% load staticfiles %}
{% block container %}
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-3">

                <div class="panel panel-info">
                    <div class="panel-body profile" style="background-color: white">
                        <div class="profile-image border-bottom">
                            {% if user.profile.avatar.url %}
                                <img src="{{ user.profile.avatar.url }}" alt="{{ user }}"/>
                            {% else %}
                                <img src="{% static "assets/images/users/no-image.jpg" %}" alt="{{ user }}"/>
                            {% endif %}
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name" style="color: black">{{ perfil.pessoa }}</div>
                            <div class="profile-data-title" style="color: #000;">User: {{ perfil.user }}</div>
                        </div>
                    </div>
                    <div class="panel-body list-group border-bottom">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-center" style="font-weight: 500; margin-top: 10px">
                                    Detalhes do usuário
                                </h3>
                                <hr/>
                                <h4 class="text-center" style="font-weight: 600">
                                    {{ perfil.empresa }}
                                </h4>
                                <hr/>
                                <img src="{{ perfil.empresa.logo.url }}" class="img-thumbnail"
                                     style="height:150px; width: 300px"/>
                            </div>

                        </div>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-title-box border-bottom">
                        <h2 class="" style="font-weight: 500; margin: 10px 0 0 10px">
                            Dados Cadastrais
                        </h2>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td><strong>Nome:</strong> {{ perfil.pessoa }}</td>
                                <td><strong>Data de Nasc.:</strong> {{ perfil.pessoa.dta_nascimento }}</td>
                                <td><strong>Sexo:</strong> {{ perfil.pessoa.sexo }}</td>
                            </tr>
                            <tr>
                                <td><strong>Logradouro:</strong> {{ perfil.pessoa.logradouro }}</td>
                                <td><strong>Número:</strong> {{ perfil.pessoa.numero }}</td>
                                <td><strong>CEP:</strong> {{ perfil.pessoa.cep }}</td>
                            </tr>
                            <tr>
                                <td><strong>Tel. Residencial:</strong> {{ perfil.pessoa.tel_residencial }}</td>
                                <td><strong>Celular:</strong> {{ perfil.pessoa.tel_celular }}</td>
                                <td><strong>E-mail:</strong> {{ perfil.pessoa.email }}</td>
                            </tr>
                            <tr>
                                <td><strong>Cidade:</strong> {{ perfil.pessoa.municipio }}</td>
                                <td><strong>Bairro:</strong> {{ perfil.pessoa.bairro }}</td>
                                <td><strong>UF:</strong> {{ perfil.pessoa.uf }}</td>
                            </tr>
                            {% if perfil.pessoa.is_atendente %}
                                <tr>
                                    <td><strong>Matricula:</strong> {{ perfil.pessoa.pessoa.matricula }}</td>
                                    <td><strong>Cargo:</strong> {{ perfil.pessoa.pessoa.cargo }}</td>
                                    <td><strong>Situação Usuário:</strong>
                                        {% if perfil.pessoa.pessoa.situacao == "AT" %}
                                            <span class="badge badge-info">Ativo</span>
                                        {% else %}
                                            <span class="badge badge-danger">Inativo</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Entrevistado:</strong> {{ perfil.pessoa.pessoa.dta_entrevista }}</td>
                                    <td><strong>Contratado:</strong> {{ perfil.pessoa.pessoa.dta_entrevista }}</td>
                                    <td><strong>Desligado:</strong> {{ perfil.pessoa.pessoa.dta_desligamento }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Regional:</strong> {{ perfil.regional }}</td>
                                    <td><strong>Base:</strong> {{ perfil.baseregional }}</td>
                                    <td><strong>Agência:</strong> {{ perfil.pessoa.pessoa.agencia }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Situação Agência:</strong>
                                        {% if perfil.pessoa.pessoa.agencia.situacao == "AT" %}
                                            <span class="badge badge-info">Ativo</span>
                                        {% else %}
                                            <span class="badge badge-danger">Inativo</span>
                                        {% endif %}
                                    </td>
                                    <td colspan="2">
                                        <strong>Credenciado?:</strong>
                                        {% if perfil.pessoa.pessoa.agencia.is_credenciado %}
                                            <span class="badge badge-primary">Sim</span>
                                        {% else %}
                                            <span class="badge badge-primary">Não</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
                <!-- START TIMELINE -->
                <div class="timeline timeline-right">

                    <!-- START TIMELINE ITEM -->
                    <div class="timeline-item timeline-main">
                        <div class="timeline-date">Hoje</div>
                    </div>
                    <!-- END TIMELINE ITEM -->
                    {% for atividade in atividades %}
                        <!-- START TIMELINE ITEM -->
                        <div class="timeline-item timeline-item-right">
                            <div class="timeline-item-info">{{ atividade.action_time|date:"H:i" }}</div>
                            <div class="timeline-item-icon"><span class="fa fa-desktop"></span></div>
                            <div class="timeline-item-content">
                                <div class="timeline-heading" style="padding-bottom: 10px;">
                                    <img src="{{ perfil.avatar.url }}"/>
                                    <a href="#">{{ perfil.pessoa }}</a>
                                    {% if atividade.action_flag == 1 %}
                                        adicionou
                                    {% elif atividade.action_flag == 2 %}
                                        editou
                                    {% elif atividade.action_flag == 3 %}
                                        removeu
                                    {% else %}
                                        <i class="fa fa-terminal"></i>
                                    {% endif %}
                                    {{ atividade.content_type }}
                                </div>
                                <div class="timeline-body">
                                    <i>
                                        {{ atividade }}
                                    </i>
                                </div>
                            </div>
                        </div>
                        <!-- END TIMELINE ITEM -->
                    {% endfor %}
                    <!-- START TIMELINE ITEM -->
                    <div class="timeline-item timeline-main">
                        <div class="timeline-date"><a href="#"><span class="fa fa-ellipsis-h"></span></a></div>
                    </div>
                    <!-- END TIMELINE ITEM -->
                </div>
                <!-- END TIMELINE -->
            </div>

        </div>

    </div>
{% endblock %}