{% extends 'base.html' %}
{% load staticfiles %}
{% block container %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Perfil de usuário</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Relatório do usuário
                                <small>Atividade recente</small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        <a href="{{ user.profile.get_absolute_url }}">
                                            {% if user.profile.avatar.url %}
                                                <img class="img-responsive avatar-view"
                                                     src="{{ user.profile.avatar.url }}"
                                                     alt="Avatar"
                                                     title="Change the avatar">
                                            {% else %}
                                                <img class="img-responsive avatar-view"
                                                     src="{% static "images/user.png" %}"
                                                     alt="Avatar"
                                                     title="Alterar avatar">
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                                <h3>{{ user.profile }}</h3>

                                <ul class="list-unstyled user_data">
                                    <li><i class="fa fa-map-marker user-profile-icon"></i> {{ user.profile.empresa }}
                                    </li>

                                    <li>
                                        <i class="fa fa-briefcase user-profile-icon"></i> Indefinido
                                    </li>

                                    <li class="m-top-xs">
                                        <i class="fa fa-external-link user-profile-icon"></i>
                                        <a href="http://www.kimlabs.com/profile/" target="_blank"></a>
                                    </li>
                                </ul>

                                <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i> Editar perfil</a>
                                <br/>

                                <!-- start skills -->
                                <!--<h4>Skills</h4>
                                <ul class="list-unstyled user_data">
                                    <li>
                                        <p>Web Applications</p>
                                        <div class="progress progress_sm">
                                            <div class="progress-bar bg-green" role="progressbar"
                                                 data-transitiongoal="50"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>Website Design</p>
                                        <div class="progress progress_sm">
                                            <div class="progress-bar bg-green" role="progressbar"
                                                 data-transitiongoal="70"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>Automation & Testing</p>
                                        <div class="progress progress_sm">
                                            <div class="progress-bar bg-green" role="progressbar"
                                                 data-transitiongoal="30"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>UI / UX</p>
                                        <div class="progress progress_sm">
                                            <div class="progress-bar bg-green" role="progressbar"
                                                 data-transitiongoal="50"></div>
                                        </div>
                                    </li>
                                </ul>-->
                                <!-- end of skills -->

                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12">

                                <div class="profile_title">
                                    <div class="col-md-6">
                                        <h2>Atividades do usuário <small>Dados do ano corrente.</small></h2>
                                    </div>
                                    <!--<div class="col-md-6">
                                        <div id="reportrange" class="pull-right"
                                             style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                        </div>
                                    </div>-->
                                </div>
                                <!-- start of user-activity-graph -->
                                <div id="graph_bar" style="width:100%; height:280px;"></div>
                                <!-- end of user-activity-graph -->

                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab"
                                               aria-expanded="true">
                                                Atividades recentes
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                             aria-labelledby="home-tab">

                                            <!-- start recent activity -->
                                            <ul class="messages">
                                                {% for atividade in atividades %}
                                                    <li>
                                                        {% if user.profile.avatar.url %}
                                                            <img class="avatar"
                                                                 src="{{ user.profile.avatar.url }}"
                                                                 alt="Avatar"
                                                                 title="Change the avatar">
                                                        {% else %}
                                                            <img class="avatar"
                                                                 src="{% static "images/user.png" %}"
                                                                 alt="Avatar"
                                                                 title="Alterar avatar">
                                                        {% endif %}
                                                        <div class="message_date">
                                                            <h3 class="date text-info">{{ atividade.action_time|date:"d" }}</h3>
                                                            <p class="month">{{ atividade.action_time|date:"M" }}</p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <h4 class="heading">
                                                                {% if atividade.action_flag == 1 %}
                                                                    <i class="fa fa-plus-square-o"></i>
                                                                {% elif atividade.action_flag == 2 %}
                                                                    <i class="fa fa-edit"></i>
                                                                {% elif atividade.action_flag == 3 %}
                                                                    <i class="fa fa-recycle"></i>
                                                                {% else %}
                                                                    <i class="fa fa-terminal"></i>
                                                                {% endif %}
                                                                {{ atividade.content_type }}
                                                            </h4>
                                                            <blockquote class="message">
                                                                {{ atividade }}
                                                            </blockquote>
                                                            <br/>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <!-- end recent activity -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_body %}
    <!-- morris.js -->
    <script src="{% static "vendors/raphael/raphael.min.js" %}"></script>
    <script src="{% static "vendors/morris.js/morris.min.js" %}"></script>
    <script>
        $(function () {
            Morris.Bar({
                element: 'graph_bar',
                data: [
                    {% for d in dados_graf %}
                        {% if forloop.last %}
                            {"periodo": "{{ d.month|date:'M' }}", "Qtd": {{ d.c }} }
                        {% else %}
                            {"periodo": "{{ d.month|date:'M' }}", "Qtd": {{ d.c }} },
                        {% endif %}
                    {% endfor %}
                        ],
                xkey: 'periodo',
                hideHover: 'auto',
                barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
                ykeys: ['Qtd', 'sorned'],
                labels: ['Qtd', 'SORN'],
                xLabelAngle: 60,
                resize: true
            });

            $MENU_TOGGLE.on('click', function () {
                $(window).resize();
            });
        });
    </script>
{% endblock %}