{% extends 'table.html' %}

{% block breadcrumb %}
    <li class="active">Links</li>
{% endblock %}

{% block titulo_container %}
    Links
{% endblock %}

{% block head_table %}
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th></th>
    </tr>
{% endblock %}

{% block body_table %}
    {% for link in links %}
        <tr>
            <td>{{ link.pk }}</td>
            <td>{{ link.nome }}</td>
            <td><span class="label label-info label-form">{{ link.get_tiposlinks_count }} Agências </span></td>
        </tr>
    {% endfor %}
{% endblock %}
