{% load staticfiles %}

<ul class="x-navigation">
    <li class="xn-logo">
        <a href="#">Gestão</a>
        <a href="#" class="x-navigation-control"></a>
    </li>
    <li class="xn-profile">
        <a href="#" class="profile-mini">
            {% if user.profile.avatar.url %}
                <img src="{{ user.profile.avatar.url }}" alt="{{ user }}"/>
            {% else %}
                <img src="{% static "assets/images/users/no-image.jpg" %}" alt="{{ user }}"/>
            {% endif %}
        </a>
        <div class="profile">
            <div class="profile-image">
            {% if user.profile.avatar.url %}
                <img src="{{ user.profile.avatar.url }}" alt="{{ user }}"/>
            {% else %}
                <img src="{% static "assets/images/users/no-image.jpg" %}" alt="{{ user }}"/>
            {% endif %}
            </div>
            <div class="profile-data">
                <div class="profile-data-name">{{ user }}</div>
            </div>
            <div class="profile-controls">
                <a href="{% url 'admin:index' %}" class="profile-control-left">
                    <span class="fa fa-key"></span>
                </a>
                <a href="{% url 'accounts:index' %}" class="profile-control-right">
                    <span class="fa fa-book"></span>
                </a>
            </div>
        </div>
    </li>
    <li class="xn-title">Navegação</li>
    <li class="xn-openable">
        <a href="#"><span class="fa fa-home"></span> <span class="xn-text">Presencial</span></a>
        <ul>
            <li>
                <a href="{% url 'cag:empresas' %}"><span class="fa fa-building-o"></span> <span
                        class="xn-text">Empresas</span></a>
            </li>
            <li><a href="{% url 'cag:regionais' %}"><span class="fa fa-globe"></span> Regionais</a></li>
            <li><a href="{% url 'cag:basesregionais' %}"><span class="fa fa-globe"></span> Bases Regionais</a></li>
            <li><a href="{% url 'cag:agencias' %}"><span class="fa fa-home"></span> Agências</a></li>
            <li class="xn-openable">
                <a href="#"><span class="fa fa-table"></span> <span class="xn-text">Infra-Estrutura</span></a>
                <ul>
                    <li><a href="{% url 'cag:links' %}"><span class="fa fa-signal"></span> Links</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="xn-openable">
        <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Pex</span></a>
        <ul>
            <li><a href="{% url 'cag:tipos' %}"><span class="fa fa-bookmark"></span> Tipologias</a></li>
            <li><a href="{% url 'cag:pas' %}"><span class="fa fa-group"></span> PA's</a></li>
        </ul>
    </li>
    <li class="xn-openable">
        <a href="#"><span class="fa fa-users"></span> <span class="xn-text">Pessoas/Atendentes</span></a>
        <ul>
            <li><a href="{% url 'cat:cargos' %}"><span class="fa fa-table"></span> Cargos</a></li>
            <li><a href="{% url 'cat:pessoas' %}"><span class="fa fa-users"></span> Pessoas</a></li>
            <li><a href="{% url 'cat:atendentes' %}"><span class="fa fa-users"></span> Atendentes</a></li>
        </ul>
    </li>
    <li class="xn-openable">
        <a href="#"><span class="fa fa-tasks"></span> <span class="xn-text">Treinamentos</span></a>
        <ul>
            <li><a href="{% url 'ctr:treinamentos' %}"><span class="fa fa-table"></span> Treinamentos</a></li>
            <li><a href="{% url 'ctr:pesquisa_matricula' %}"><span class="fa fa-table"></span> Localizar matricula</a></li>
        </ul>
    </li>
</ul>
