{% extends 'base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block css_or_script_head %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="#">Controle de Treinamentos</a></li>
    <li>Treinamento & Matricula</li>
    <li class="active">Realizar avaliação</li>
{% endblock %}

{% block container %}
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <form id="form_tre" enctype="multipart/form-data" class="form-horizontal" method="post" role="form">
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Avaliação</strong></h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            {% for field in form %}
                                <div class="form-group {% if field.errors %} has-error {% endif %}">
                                    <label class="col-md-3 col-xs-12 control-label"
                                           for="{{ field.auto_id }}">{{ field.label }}</label>
                                    <div class="col-md-6 col-xs-12">
                                        {% if field.label == 'Tipo' or field.label == 'Prazo' %}
                                            {% render_field field class='form-control' %}
                                        {% elif field.label == 'Título' %}
                                            <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="fa fa-pencil"></span></span>
                                                {% render_field field class='form-control' %}
                                            </div>
                                        {% else %}
                                            {% render_field field class='form-control' %}
                                        {% endif %}
                                        <span class="help-block">{{ field.help_text }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                            {{ formset.management_form }}
                            {% for form in formset %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-hidden="true">&times;</button>
                                        <h3><i class="icon fa fa-ban"></i> Erro!</h3>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                                <div class="inline {{ formset.prefix }}">
                                    {{ form.id }}
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label"
                                               for="{{ form.nota.tag_label }}">{{ form.nota.label }}</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-book"></span></span>
                                                {{ form.nota|add_class:'form-control'|attr:"required" }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label"
                                               for="{{ form.prova.tag_label }}">{{ form.prova.label }}</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="fa fa-file-text-o"></span></span>
                                                {{ form.prova|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>
                                    <span>
                                        {{ form.id }}
                                        {{ form.DELETE }}
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-default" href="{% url 'ctr:treinamentos' %}"
                               title="Retorna para a página de treinamentos.">Voltar</a>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->
{% endblock %}

{% block scripts_body %}
    <script type="text/javascript" src="{% static "js/plugins/formset/jquery.formset.js" %}"></script>
{% endblock %}

{% block code_scripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $(".inline.{{ formset.prefix }}").formset({
                prefix: "{{ formset.prefix }}",
                addText: "adicionar pessoa",
                deleteText: "remover"
            });

            $(".add-row").attr('class', 'btn btn-primary btn-rounded ').attr('onclick', "$('.delete-row').addClass('btn btn-danger btn-rounded').css('float', 'right').css('margin-top', '-3.8%').css('margin-right', '17%');");

            ajustarBotaoDelete();

            function ajustarBotaoDelete() {
                $(".delete-row").addClass('btn btn-danger btn-rounded').css('float', 'right').css('margin-top', '-1%').css('margin-right', '25%');
            }

        });

    </script>

{% endblock %}

