{% extends 'table.html' %}

{% block breadcrumb %}
    <li><a href="#">Regionais</a></li>
    <li class="active">Regionais cadastradas</li>
{% endblock %}

{% block titulo_container %}
    Regionais
{% endblock %}

{% block head_table %}
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th></th>
    </tr>
{% endblock %}

{% block body_table %}
    {% for regional in regionais %}
        <tr>
            <td>{{ regional.pk }}</td>
            <td>{{ regional.nome }}</td>
            <td><span class="label label-info label-form">{{ regional.get_regionais_count }} Agências </span></td>
        </tr>
    {% endfor %}
{% endblock %}
